@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

.footer {
    background-color: #022C22;
    color: #ffffff;
    font-family: "Figtree", sans-serif;
    padding: 2rem 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer-brand {
    display: flex;
    align-items: center;
}

.footer-logo {
    color: #FFFF;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.logo2 {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.footer-links {
    display: flex;
    gap: 2rem;
}

.footer-column h4 {
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin: 0.5rem 0;
    cursor: pointer;
    transition: color 0.3s;
    font-weight: 400;
    font-size: 0.9rem;
}

.footer-column li:hover {
    color: #b6f7b3;
}

.hiring-badge {
    background-color: #BEF264;
    color: #022c22;
    font-size: 0.7rem;
    padding: 2px 5px;
    border-radius: 3px;
    margin-left: 0.5rem;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.social-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 60px;
    width: 250px;
    height: 42px;
    padding: 0.4rem 1rem;
    cursor: pointer; /* Ensures clickable behavior */
}

.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BEF264;
    padding: 0.5rem;
    border-radius: 8px;
    width: 20px;
    height: 20px;
}

.social-item img {
    width: 20px;
    height: 20px;
}

.footer-copyright {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #FFFF;
    font-weight: 400;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* Media Queries */
@media screen and (max-width: 480px) {
    .footer-container {
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .footer-logo {
        font-size: 1rem;
    }

    .footer-links {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }

    .footer-social {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .social-item-container {
        width: 230px;
        height: 40px;
    }
}
